body {
  background-image: url(../../../assets/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: start;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  z-index: 30;
  gap: 90px;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inicio {
  background-color: rgba(255, 255, 255, 0.829);
  height: 700px;
  width: 90%;
  border-radius: 50px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.separator {
  border: #333 1px solid;
  margin-bottom: 20px;
  width: 90%;
}

.content {
  display: flex;
  justify-content: space-evenly;
  gap: 10%;
  width: 100%;
  height: 90%;
}

.lastBuys {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.previewStats{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.subTitle{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  color: #555454de;
}

/* .logoPage {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  width: auto;
  box-sizing: border-box;
}

.logoPage img {
  width: 150px; 
  height: auto; 
  display: block; 
} */