body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  position:relative;
  z-index:30;
}

body{
  overflow:overlay;
}

::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: lightgray;
}
::-webkit-scrollbar-corner{
  border-radius: 10px;;
}

.topbar{
  Position:sticky;
  Top:0px;
  z-index:50;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4c0a2;
  width: 100%;
  height: 70px;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  padding-top: 26px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  color: black;
  transition: 100ms;
}

a:hover {
  text-decoration: none;
  padding-top: 26px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #012858;
  background-blend-mode: darken;
  color: white;
  transition: 100ms;
}

header {
  box-sizing: border-box;
  border: 0;
  padding: 0%;
  margin: 0%;
}

.topper {
  background-color: #012858;
  background-size: 100%;
  border: 0;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  color: white;
}

@keyframes header {
  from {
    color: white;
    opacity: 1;
  }
  to {
    color: black;
    opacity: 0;
  }
}
.topper {
  view-timeline-name: --head;
  view-timeline-axis: block;

  animation-timeline: --head;
  animation-name: header;

  animation-range: exit;
  animation-fill-mode: both;
}

img {
    width: 500px;
    height: auto;
    display: block;
}

@keyframes show {
  from {
  opacity: 0;
  }

  to {
    opacity: 1;
  }
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

