body {
  background-image: url(/FrontEnd/assets/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  z-index:30;

  
  
}

.fondo{
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.459);
} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
  position: relative;
  margin-right: 0px;
}
ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
}
ul ul {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
ul li:hover > ul {
  display: block;
}
ul ul li {
  display: block;
}


main {
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

body{
  overflow:overlay;
}

::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: lightgray;
}
::-webkit-scrollbar-corner{
  border-radius: 10px;;
}

.topbar{
  Position:sticky;
  Top:0px;
  z-index:50;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  color: black;
  transition: 100ms;
}

a:hover {
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #444444;
  background-blend-mode: darken;
  color: white;
  transition: 100ms;
}

header {
  box-sizing: border-box;
  border: 0;
  padding: 0%;
  margin: 0%;
}

.topper {
  border: 0;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 97vh;
  box-sizing: border-box;
  color: white;
}
.topper1 {
 font-family: 'bebas neue';
font-weight: 1;
 font-size: 90px;
}

.topper2 {
  text-shadow: 5px 4px 4px rgba(0, 0, 0, 10),
  -2px -2px 4px rgba(0, 0, 0, 0.5);
}
@keyframes header {
  from {
    color: white;
    opacity: 1;
  }
  to {
    color: black;
    opacity: 0;
  }
}
.topper {
  view-timeline-name: --head;
  view-timeline-axis: block;

  animation-timeline: --head;
  animation-name: header;

  animation-range: exit;
  animation-fill-mode: both;
}

img {
  width: 350px;

  padding: 10px;
 
}

.prendas{
  background-color: white;
  width: 100%;
}

.div1, .div2, .div3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
  




@keyframes show {
  from {
  opacity: 0;
  }

  to {
    opacity: 1;
  }
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 35%;
  animation-fill-mode: both;
}