
.panelCartActivado {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 450px;
    height: 450px;
    position: absolute;
    top: 100%; 
    left: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    transition: all 1s;
    z-index: 40; 
  }
  
  .panelCartDesactivado {
    width: 250px;
    height: 100px;
    position: absolute;
    left: -250px;
    transition: all 1s;
  }
  
  .panelMenuActivado {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 350px;
    height: 200px;
    position: absolute;
    top: 100%; 
    left: 0;
    transition: all 1s;
    z-index: 40; 
  }
  
  .panelMenuDesactivado {
    width: 250px;
    height: 100px;
    position: absolute;
    left: -250px;
    transition: all 1s;
  }
  
  .dentroMenu{
    display: flex;
    flex-direction: column; 
    padding: 10px; 
  }
  
  .dentroMenu a {
    text-decoration: none; 
    padding: 10px 15px; 
    transition: background-color 0.2s, color 0.2s; 
  }
  
  .dentroMenu a:hover {
    background-color: #444; 
    color: white; 
  }
  
  .logos {
    background: none;
    border: none;   
    padding: 0;
    margin: 0 10px; 
    cursor: pointer; 
  }
  
  .logos img {
    width: 30px; 
    height: auto; 
    transition: width 0.3s ease;
    display: block;
    border: none;   
    outline: none; 
  }
  
  /* Estilos para las imágenes */
  .prendas {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
    justify-content: space-evenly;
  }
  
  /* Contenedor de cada imagen (el div que contiene la imagen) */
  .prendas > div {
    width: 20%; /* Ajusta el tamaño de cada producto */
    height: 400px; /* Asegura una altura fija */
    overflow: hidden; /* Esconde lo que sobresalga */
    margin: 15px; /* Espacio entre los productos */
    position: relative; /* Necesario para posicionar la imagen de forma correcta */
    display: flex;
    justify-content: center; /* Centra la imagen */
    align-items: center; /* Centra la imagen */
  }
  
  /* Estilos para la imagen */
  .prendas img {
    max-width: 100%; /* Asegura que la imagen no sobrepase el ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    object-fit: cover; /* Asegura que la imagen ocupe el espacio sin deformarse */
    transition: transform 0.3s ease-in-out; /* Transición más suave en hover */
    border-radius: 10px; /* Bordes redondeados para un estilo más suave */
  }
  
  /* Efecto hover suave */
  .prendas img:hover {
    transform: scale(1.05); /* Escala suave al hacer hover */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Agrega sombra al hacer hover */
  }
  
  /* Si prefieres un efecto de hover sin distorsionar la imagen, prueba con un borde */
  img {
    transition: transform 0.3s ease-in-out;
    animation: show 1s ease-in-out;
  }
  