body {
    background-image: url(/FrontEnd/assets/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    z-index: 30;
    overflow: overlay;
}

.fondo {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.459);
}


.topbar {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #f9f9f9;
    height: 100%;
}

.Izq {
    position: absolute;
    justify-content: left;
    left: 0;
}

.Der {
    position: absolute;
    justify-content: left;
    right: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    position: relative;
    margin-right: 0;
}

ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    text-align: center;
    justify-content: center;
}

ul ul {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Der ul ul {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

ul li:hover > ul {
    display: block;
}

ul ul li {
    display: block;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
}

::-webkit-scrollbar-corner {
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    padding: 25px 20px;
    background-color: transparent;
    color: black;
    transition: 100ms;
}

a:hover {
    background-color: #444444;
    background-blend-mode: darken;
    color: white;
    transition: 100ms;
}

header {
    box-sizing: border-box;
    margin: 0;
}

.topper {
    width: 100%;
    height: 97vh;
    color: white;
    box-sizing: border-box;
    margin: 0;
}

.topper1 {
    font-family: 'bebas neue';
    font-weight: 1;
    font-size: 90px;
}

.topper2 {
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 1),
                 -2px -2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes header {
    from {
        color: white;
        opacity: 1;
    }
    to {
        color: black;
        opacity: 0;
    }
}

.topper {
    view-timeline-name: --head;
    view-timeline-axis: block;
    animation-timeline: --head;
    animation-name: header;
    animation-range: exit;
    animation-fill-mode: both;
}

img {
    width: 350px;
    padding: 10px;
}

.prendas {
    background-color: white;
    width: 100%;
}

.div1, .div2, .div3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

img {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 35%;
    animation-fill-mode: both;
}

/*!!!formulario!!!*/

body {
    background-image: url(/FrontEnd/assets/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Cabin", sans-serif;
    overflow: overlay;
}

.barrita{
    border: #333 1px solid;
    margin-bottom: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
}


.auth-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}

.auth-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-input {
    margin-bottom: 10px;
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-input:focus {
    border-color: #333;
    outline: none;
}


.form-btn {
    margin-bottom: 10px;
    width: 100%;
    padding: 15px;
    border: white 1px solid;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-btn:hover {
    background-color: white;
    color: #4CAF50;
    border: #4CAF50 1px solid;
}


.eliminarCuenta-btn {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    padding: 15px;
    justify-content: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: #f81b0b;
    color: white;
    border: #f81b0b 1px solid;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}

.eliminarCuenta-btn:hover {
    background-color: white;
    color: #f81b0b;
}
