/* Estilos globales */
body {
  background-image: url(../../../assets/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}

.fondo {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

/* Barra de navegación */
.topbar {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: rgb(255, 255, 255);
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

ul li a {
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s, color 0.2s;
}

ul li a:hover {
  background-color: #444;
  color: white;
}

/* Estilos para las imágenes */
.prendas {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.div1, .div2, .div3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

img {
  width: 350px;
  padding: 10px;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.1);
}

/* Header */
.topper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 90vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.topper1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 90px;
  margin: 0;
}

.topper2 {
  font-size: 18px;
  max-width: 600px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img {
  animation: show 1s ease-in-out;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
}

.logos {
  background: none;
  border: none;   
  padding: 0;
  margin: 0 10px; 
  cursor: pointer; 
}

.logos img {
  width: 30px; 
  height: auto; 
  transition: width 0.3s ease;
  display: block;
  border: none;   
  outline: none; 
}

.logos img:hover {
  width: 35px; 
}

nav{
  display: flex;
  flex-direction: end;
  align-items: center; 
}

.panelCartActivado {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 100%; 
  left: 0;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  transition: all 1s;
  z-index: 40; 
}

.panelCartDesactivado {
  width: 250px;
  height: 100px;
  position: absolute;
  left: -250px;
  transition: all 1s;
}

.form-btn {
  margin-bottom: 10px;
  width: auto;
  height: auto;
  padding: 15px;
  border: white 1px solid;
  border-radius: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;

}

.panelMenuActivado {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 350px;
  height: 200px;
  position: absolute;
  top: 100%; 
  left: 0;
  transition: all 1s;
  z-index: 40; 
}

.panelMenuDesactivado {
  width: 250px;
  height: 100px;
  position: absolute;
  left: -250px;
  transition: all 1s;
}

.dentroMenu{
  display: flex;
  flex-direction: column; 
  padding: 10px; 
}

.dentroMenu a {
  text-decoration: none; 
  padding: 10px 15px; 
  transition: background-color 0.2s, color 0.2s; 
}

.dentroMenu a:hover {
  background-color: #444; 
  color: white; 
}

h2{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 45px;
  margin: 0;
  position: absolute;
  color: #333;
  left: 50%;
  top: -1px;
  transform: translateX(-50%);
}

.imgNav{
  position: absolute;
  left: 86%;
  transform: translateX(-10%);
  top: -100px;
  
}