nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.822);
  margin: 0;
  height: 70px;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 0;
}

nav button {
  width: 10%;
  height: 100%;
  padding: 0px;
}

nav .actions {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

button:hover {
  cursor: pointer;
}

.logOut {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

.logOut img {
  height: 70%;
}

.inquiry {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  position: relative;
}

.inquiry img {
  position: relative;
  width: 100%;
  height: 100%;
}

.pageLogo {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  height: 100%;
}

.pageLogo img {
  height: 70%;
}

.navContainer {
  display: flex;
  justify-content: space-evenly;
  width: max-content;
  align-items: center;
  gap: 20px;
}

.hide {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 5px;
}

@media screen and (max-width: 600px) {
  .navContainer {
    width: max-content;
  }

  nav {
    flex-direction: column;
    height: max-content;
    position: absolute;
    top: 0px;
    left: 0px;
    width: max-content;
    padding: 50px;
    padding-top: 70px;
    background-color: white;
    border-bottom-right-radius: 4%;
  }

  .activatedNav {
    display: block;
    z-index: 2;
  }

  .activatedDiv {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.623);
    z-index: 2;
  }

  .deactivated {
    display: none;
    transition: .5s;
  }

  .navContainer {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .hide {
    display: block;
    width: 9%;
    height: auto;
    margin-top: 2%;
    margin-left: 2%;
    z-index: 3;
  }

  .show {
    display: block;
    width: 9%;
    height: auto;
    margin-top: 2%;
    margin-left: 2%;
    z-index: 2;
  }

  .pageLogo img {
    width: 2px;
  }
}
