.subTitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    color: #333;
  }
  
  .content {
    background-color: rgba(255, 255, 255, 0.829);
    height: max-content;
    width: 90%;
    border-radius: 50px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-bottom: 5%;
  }

  .indexContent {
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
    width: 100%;
    height: 90%;
  }

  .inicio {
    background-color: rgba(255, 255, 255, 0.829);
    height: 700px;
    width: 90%;
    border-radius: 50px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 70px);
    margin-top: 20px;
  }
  
  #addBtn {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    box-sizing: border-box;
  }
  
  .title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    margin: 0;
    color: #333;
    display: flex;
    align-items: center;
    position: relative;
    left: 2%;
  }
  
  .addBtn {
    display: flex;
    width: 100%;
  }
  
  #addBtn {
    display: flex;
    width: 64px;
    height: 64px;
    box-sizing: content-box;
    position: relative;
    left: 81%;
    top: 20%;
  }
  
  .addBtn img {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 600px) {
    .inicio{
      padding-top: 20%;
      background-color: white;
      width: 100%;
      height: 100vh;
      border-radius: 0;
    }

    main{
      width: 100%;
      height: 100vh;
      margin-top: 0;
      z-index: 1;
    }

    .indexContent{
      display: flex;
      flex-direction: column;
      justify-items: center;
      z-index: 1;
    }

    .content{
      width: 100%;
      height: max-content;
      border-radius: 0;
    }
    
  }
  