nav {
    display: flex;
    align-items: center;
    gap: 5%;
    background-color: rgba(255, 255, 255, 0.822);
    margin: 0;
    height: 10%;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    margin: 0;
  }

  nav button{
    width: 10%;
    height: 100%;
  }
  
  button:hover {
    cursor: pointer;
  }

  .logOut {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    /* width: 20%; */
    box-sizing: border-box;
  }
  
  .logOut img{
  height: 40px;
  } 

  .consulta {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    box-sizing: border-box;
  }
  
  /* .consulta img{
    position: relative;
    right: 10px;
    width: 60px;
  } */

  .logoPage {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    /* width: auto; */
    box-sizing: border-box;
  }
  
  .logoPage img {
    width: 150px; 
    height: auto; 
    display: block; 
  }

  .navContainer{
    display: flex;
    justify-content: space-evenly; 
    width: 45%;
  }