.navBar {
  background-color: white;
  padding: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px 5px 5px 0px rgba(143, 142, 142, 0.7);
  -webkit-box-shadow: -1px 5px 5px 0px rgba(143, 142, 142, 0.7);
  -moz-box-shadow: -1px 5px 5px 0px rgba(143, 142, 142, 0.7);
}

.navLeft img {
  width: 50px;
  margin-right: 20px;
}

.navLeft div {
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px;
  border-radius: 5px;
}

.navLeft div:hover {
  background-color: #333;
  color: rgb(248, 248, 248);
  transition: .3s;
}



.navLeft, 
.navRight {
  display: flex;
  align-items: center;
}

.navLeft > *, 
.navRight > * {
  margin: 10px;
}

.carrito {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.carrito img {
  width: 40px;
  margin-right: 10px;
}

.registroUser, 
.inicioSesion {
  font-weight: 500;
  border: 1px solid #000;
  border-radius: 40px;
  padding: 5px 20px;
}

.registroUser {
  background-color: #000;
  color: #fff;
}

.registroUser:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.06);
  transition: .3s;
}

.inicioSesion:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: .3s;
}