.navBar {
  background-color: white;
  padding: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px 5px 5px 0px rgba(143, 142, 142, 0.7);
  -webkit-box-shadow: -1px 5px 5px 0px rgba(143, 142, 142, 0.7);
  -moz-box-shadow: -1px 5px 5px 0px rgba(143, 142, 142, 0.7);
  height: 7.2rem;
}

.navLeft img {
  width: 50px;
  margin-right: 20px;
}

.navLeft div {
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px;
  border-radius: 5px;
}

.navLeft div:hover {
  background-color: #333;
  color: rgb(248, 248, 248);
  transition: .3s;
  cursor: pointer;
}

.navLeft img:hover {
  cursor: pointer;
}

.navRight img:hover {
  cursor: pointer;
}

.navLeft,
.navRight {
  display: flex;
  align-items: center;
  height: 100%;
  width: 40%;
}

.navRight {
  display: flex;
  justify-content: end;
  gap: 5%;
}

.navLeft>* {
  margin: 10px;
}

.carrito {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.carrito img {
  width: 25%;
  margin-right: 10px;
}

.registroUser,
.inicioSesion {
  font-weight: 500;
  border: 1px solid #000;
  border-radius: 40px;
  padding: 5px 20px;
  display: none;
}

.registroUser {
  background-color: #000;
  color: #fff;
}

.registroUser:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.06);
  transition: .3s;
  cursor: pointer;
}

.inicioSesion:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: .3s;
  cursor: pointer;
}

.userLogged {
  display: block !important;
}

.userUnlogged {
  display: block !important;
}

.userBtn {
  width: 8%;
  height: 60%;
  margin-right: 2%;
  display: none;
}

.cartBtn {
  width: 7%;
  height: 100%;
  margin-right: 2%;
}

.userModal {
  width: 15rem;
  height: 10rem;
  position: absolute;
  z-index: 10;
  background-color: #ffffff;
  transition: all .3s;
  right: 0;
  top: 115px;
  transform-origin: top right;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 1%;
  border-bottom-left-radius: 2rem;
}

.userModal>div{
  height: 2rem;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.userModal>div:hover{
  background-color: #333;
  color: rgb(248, 248, 248);
  transition: .3s;
  cursor: pointer;
}

.logOutBtn {
  position: absolute;
  top: 64%;
  left: 74%;
  width: 20%;
}

.logOutBtn:hover{
  cursor: pointer;
}

/* Estilos específicos para pantallas de 1366x768 */
@media (max-width: 1366px) and (max-height: 768px) {
  .userBtn {
    width: 2.5rem; /* Ajuste de tamaño */
    height: 2.5rem;
  }

  
  #cartModal {
    width: 35%; 
    padding: 1.5rem;
  }

  .userModal{
    width: 20%;
    height: 30%;
  }

  .userModal,
  #cartModal {
    top: 8.2rem;
  }

  .details {
    padding: 1rem;
    font-size: 1rem; /* Escalado de texto */
  }

  /* Ajustes adicionales */
  .navBar {
    padding: 0.5rem 1rem;
  }

  .navRight img {
    width: 2rem;
    height: 2rem;
  }
}
