body {
  background-image: url(../../../assets/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  z-index: 30;
  gap: 50px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.822);
  margin: 0;
  height: 70px;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.consulta {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  position: relative;
  left: 110px;
  width: 60px;
  box-sizing: border-box;
}

.consulta img {
  position: relative;
  right: 10px;
  width: 60px;
}

.empty {
  position: absolute;
  font-size: 1.3rem;
  top: 0;
  right: 0;
  margin: 0;
  width: 25px;
  background-color: rgba(252, 252, 252, 0.649);
  border: 1px solid black;
  border-radius: 100%;
}

.logOut {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  position: relative;
  left: 55px;
  width: 50px;
  box-sizing: border-box;
}

.logOut img {
  height: 40px;
}

.notify {
  background-color: rgb(247, 0, 0);
  position: absolute;
  font-size: 1.3rem;
  top: 0;
  right: 0;
  margin: 0;
  width: 25px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100%;
}

.notify p {
  color: white;
}

#listaConsultas {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 400px;
  position: absolute;
  right: 0;
  margin: 0;
  top: 70px;
  overflow: hidden;
  transition: all .3s;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.desactivado {
  height: 0px;
}

.activado {
  height: 500px;
  background-color: #454f58ce;
}

.logoPage {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  width: auto;
  box-sizing: border-box;
}

.logoPage img {
  width: 150px;
  height: auto;
  display: block;
}

.frmDesactivado {
  display: none !important;
  opacity: 0;
}

.frmActivado {
  display: flex !important;
  opacity: 1;
}

.contenedor-frm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #0000008a;
  z-index: 1;
  top: 0;
  transition: all .4s;
}

.contenedor-frm form {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 60%;
  height: max-content;
  padding: 50px;
  justify-content: center;
  align-items: center;
  gap: 5%;
  border-radius: 5%;
}



.subTitle{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 25px;
  color: #333;
}

.form-input {
  margin-bottom: 10px;
  width: 75%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-input:focus {
  border-color: #333;
  outline: none;
}

.form-btn {
  margin-bottom: 10px;
  width: 75%;
  padding: 15px;
  border: white 1px solid;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-btn:hover {
  background-color: white;
  color: #4CAF50;
  border: #4CAF50 1px solid;
}

#imagenInput{
 display: none;
}

#imgPreview{
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.form-file {
  margin-bottom: 10px;
  width: 72%;
  padding: 15px;
  border: white 1px solid;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-file:hover {
  background-color: white;
  color: #4CAF50;
  border: #4CAF50 1px solid;
}

.content {
  background-color: rgba(255, 255, 255, 0.829);
  height: 700px;
  width: 90%;
  border-radius: 50px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addBtn {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  box-sizing: border-box;
}

table {
  width: 80%;
}

table,
thead {
  border: 1px solid black;
  border-collapse: collapse;
}

table,
tbody {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  padding: 2px 10px 2px 10px;
  border: 1px solid white;
  border-collapse: collapse;
}

td {
  padding: 2px 10px 2px 10px;
  border: 1px solid black;
  border-collapse: collapse;
  height: 40px;
}

thead {
  background-color: black;
  color: white;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  margin: 0;
  color: #333;
  display: flex;
  align-items: center;
  position: relative;
  left: 2%;
}

.addBtn {
  display: flex;
  width: 100%;
}

#addBtn {
  display: flex;
  width: 64px;
  height: 64px;
  box-sizing: content-box;
  position: relative;
  left: 81%;
  top: 20%;
}

.addBtn img {
  width: 100%;
  height: 100%;
}

.cancelar-btn {
  display: flex;
  margin-bottom: 10px;
  width: 75%;
  padding: 15px;
  justify-content: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background-color: #f81b0b;
  color: white;
  border: #f81b0b 1px solid;
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
  transition: 0.3s ease;
}

.cancelar-btn:hover{
  background-color: white;
  color: #f81b0b;
}

.btnTd{
  border: 0;
  background-color: #33333300;
  width: 50%;
  height: 40px;
}

#actionsTd{
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 40px;
}

#actionsTd img{
  height: 100%;
}

.imgTd{
  height: 100%;
}

.tdImg{
  display: flex;
  justify-content: center;
  border: 0;
}

.modifyImg{
  height: 34px !important;
}

.formColor{
  width: 75%;
  height: 45px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
